.idea/
src/ingot.egg-info/                                                                                                                                                                                                                                                                                                                                                                                                       
src/ingot/__pycache__/
